* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  
}

body{
   min-width: 200px
}


@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Noto+Serif+Tamil:wght@100&family=Pacifico&family=Raleway:wght@900&family=Tiro+Telugu&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Mynerve&family=Noto+Serif+Tamil:wght@100&family=Pacifico&family=Tiro+Telugu&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Mynerve&family=Noto+Serif+Tamil:wght@100&family=Pacifico&family=Tiro+Telugu&family=Ubuntu&display=swap');


nav{
   height: 70px;
   border-top: 1px solid;
   position: relative;
}

.div0{
   margin-left: 150px;
   position: absolute;
  
}

.div1{
   width: 400px;
   height: 35px;
   right: 0px;
   bottom: 10px;
   position: absolute;

}

button{
   margin-right: 25px;
   margin-top: 10px;
   color: darkgray;
   border: none;
   background-color: white;
   font-size: 18px;
}

.btn{
   background-color: blue;
   color: white;
   border-radius: 10%;
   border:4px solid blue;
   appearance: none;
}

.aaa{
   font-size: 40px;
   color: rgb(7, 7, 247);
   font-family: 'Raleway', sans-serif;
   margin-right: 10px;
  
}

.sss{
   font-size: 30px;
   color: gray;
   font-family: 'Ubuntu', sans-serif;;
}

header{
   height: 450px;
   background-image: url(sevann-4.jpg);
   background-size:cover;
   border-top: 1px solid rgb(241, 214, 214);
   position: relative;
  
 
}

header > h1 {
   text-align: center;
   font-family:'Ubuntu', sans-serif;
   text-shadow: 3px 1px 4px black;
   font-size: 60px;
   margin-bottom: 50px;
   margin-top: 260px;
   color: rgb(181, 228, 228);
}



.video{
   margin-left: auto;
   margin-right: auto;
   margin-top: 75px;
   width: 500px;
   height: 200px;
   border: 2px solid rgb(228, 218, 218);;
   background-color: rgb(163, 234, 234);
   padding-left: 3px;
}


.video > p{
   text-align: center;
   color: rgb(96, 93, 93);
   font-size: 20px;
   font-family:cursive;
   margin-top: 5px;

}



.nkar{
   display:grid;
   grid-template-columns: repeat(5, 1fr);
   text-shadow: 1px 1px 1px rgb(138, 138, 138);

}


.nik{
   width: 85px;
   height: 70px;
   margin: 5px;
}

.div{
   height: 200px;
   border: 2px solid rgb(190, 189, 189);
   margin-top: 5px;
}
main{
   height: 250px;
}

footer{
   width: 100%;
   height: 400px;
}

.foot{
   width: 600px;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   display:grid;
   grid-template-columns: repeat(2, 1fr);
}

iframe {
   margin: 25px;
}


.places {
   display:grid;
   grid-template-columns: repeat(5, 1fr);
   width: 900px;
   height: 150px;
   margin-left: auto;
   margin-right: auto;
}

.food {
   width: 150px;
   height: 100px;
   text-align: center;
   
}

.food > .food1 {
   width: 150px;
   height: 100px;
   margin-top: 15px;
   background: url(https://uploads-ssl.webflow.com/5f110176c8dec0081e7812fd/5f1f864ff5d7c0167fd63fe9_5f1c9d361f0966a11720b9b9_Armenian-Food-1.jpg);
   background-size: cover;
}

.hotel {
   width: 150px;
   height: 100px;
   text-align: center;
}

.hotel > .hotel1 {
   width: 150px;
   height: 100px;
   margin-top: 15px;
   background: url(https://onewaytour.com/wp-content/uploads/2021/09/2-1.jpg);
   background-size: cover;
}

.pub {
   width: 150px;
   height: 100px;
   text-align: center;
}

.pub > .pub1 {
   width: 150px;
   height: 100px;
   margin-top: 15px;
   background: url(https://visityerevan.am/media/images/b102728194_2544683649127564_6267330626575492660_n_1.jpg);
   background-size: cover;
}

.spa {
   width: 150px;
   height: 100px;
   text-align: center;
}

.spa > .spa1 {
   width: 150px;
   height: 100px;
   margin-top: 15px;
   background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS75mwAWQ5QBFGrDQ-YGn5YCF1U0wIeZ6OhvqpCXXaYgJamMDqILn1AGBFx4xheoiKViGE&usqp=CAU);
   background-size: cover;
}
.museum {
   width: 150px;
   height: 100px;
   text-align: center;
}

.museum > .museum1 {
   width: 150px;
   height: 100px;
   margin-top: 15px;
   background: url(https://historymuseum.am/wp-content/uploads/2018/01/2-Srah-01-Hellenism--634x635.jpg);
   background-size: cover;
}

@media screen and (max-width:850px) { 

   footer{
      height:auto;
   }

   .places {
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      width: 500px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
   }

}

@media screen and (max-width:750px) {
   nav > .div0{
      margin-left: 10px;
   }

   nav > .div0 >.aaa{
      font-size: 25px;
   }

   nav > .div0 > .sss{
      font-size: 20px;
   }

   nav > .div1 > button {
      font-size: 15px;
      border: none;
   } 

   nav > .div1 {
      left: 5px;
   }
   
}

@media screen and (max-width:730px) {
   header > h1{
      font-size: 40px;
      margin-top: 283px;
   }
}

@media screen and (max-width:500px) {
   
   .video{
      width: 200px;
      height: 450px;
   }

   .video > p{
      font-size: 13px;
   }

   .nkar{
      grid-template-columns: repeat(2, 1fr);
   }

   header > h1{
      font-size: 30px;
      margin-top: 293px;
   }

   main{
      height: 450px;
   }

   footer{
      height:auto;
   }

   .foot{
      width: 300px;
      height: 350px;
      grid-template-columns: repeat(1, 1fr);
      margin-left: auto;
      margin-right: auto;

   }

   .places {
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      width: 350px;
      height: 450px;
      margin-left: auto;
      margin-right: auto;
      
   }
}


@media screen and (max-width:371px) {
   header > h1{
      margin-top: 260px;
   }
}


@media screen and (max-width:300px) {
   nav > .div1 > button {
      font-size: 10px;
      margin-right:5px;
   }

}
